<section id="signUpContent" class="container-fluid">
    <h1 class="col text-center"><strong>Registo</strong></h1>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <p>
            <label for="name">Nome: </label>
            <input formControlName="name" type="text" id="name" placeholder="Maria Castro">
        </p>
        <ng-container *ngIf="name?.touched && name?.invalid">
            <small *ngIf="name?.hasError('required')" class="text-danger">O campo 'Nome' é de preenchimento
                obrigatório!</small>
        </ng-container>
        <p>
            <label for="email">E-mail: </label>
            <input type="email" formControlName="email" placeholder="mariacastro@mail.com" />
        </p>
        <ng-container *ngIf="(email?.invalid && email?.touched) || email?.dirty">
            <small *ngIf="email?.errors?.['required']" class="text-danger">O campo 'E-mail' é de preenchimento
                obrigatório!</small>
        </ng-container>
        <ng-container *ngIf="email?.invalid && email?.touched">
            <small *ngIf="email?.errors?.['pattern']" class="text-danger">Por favor insira um endereço de e-mail
                válido.</small>
        </ng-container>
        <p>
            <label for="password">Senha: </label>
            <input formControlName="password" type="password" placeholder="?a3uaPa33f0rte,">
        </p>
        <ng-container *ngIf="(password?.invalid && password?.touched) || password?.dirty">
            <small *ngIf="password?.errors?.['required']" class="text-danger">O campo 'Senha' é de preenchimento
                obrigatório!</small>
        </ng-container>
        <ng-container *ngIf="password?.invalid && password?.touched">
            <small *ngIf="password?.errors?.['pattern']" class="text-danger">Por favor insira uma senha com um mínimo de
                8 caracteres, que contenha, pelo menos, uma letra maiúscula, uma minúscula, um algarismo e um
                símbolo.</small>
        </ng-container>
        <p>
            <label for="password_confirm"> Confirme a senha: </label>
            <input formControlName="password_confirm" type="password" placeholder="Confirme a sua senha">
        </p>
        <ng-container *ngIf="(password_confirm?.invalid && password_confirm?.touched) || password_confirm?.dirty">
            <small *ngIf="password_confirm?.errors?.['required']" class="text-danger">É obrigatório confirmar a
                senha!</small>
        </ng-container>
        <ng-container *ngIf="password_confirm?.invalid && password_confirm?.touched">
            <small *ngIf="!password_confirm?.errors?.['required'] && password_confirm?.errors?.['noMatch']"
                class="text-danger">As senhas devem
                coincidir!</small>
        </ng-container>
        <p>
            <label for="address">Morada: </label>
            <input formControlName="address" type="text" id="address" placeholder="Rua da Alegria 18">
        </p>
        <ng-container *ngIf="address?.invalid && address?.touched">
            <small *ngIf="address?.errors?.['required']" class="text-danger">O campo 'Morada' é de preenchimento
                obrigatório!</small>
            <small *ngIf="address?.errors?.['minlength']" class="text-danger">Por favor insira uma morada (mínimo: 10
                caracteres).</small>
        </ng-container>
        <p>
            <label for="zip">Código Postal: </label>
            <input formControlName="zip" type="text" id="zip" placeholder="4000-033">
        </p>
        <ng-container *ngIf="zip?.invalid && zip?.touched">
            <small *ngIf="zip?.errors?.['required']" class="text-danger">O campo 'Código Postal' é de preenchimento
                obrigatório!</small>
            <small *ngIf="zip?.errors?.['pattern']" class="text-danger">O código postal deve seguir o formato
                xxxx-xxx!"</small>
        </ng-container>
        <p>
            <label for="country">País: </label>
            <input formControlName="country" type="text" id="country" placeholder="Portugal">
        </p>
        <ng-container *ngIf="country?.invalid && country?.touched">
            <small *ngIf="country?.errors?.['required']" class="text-danger">O campo 'País' é de preenchimento
                obrigatório!</small>
        </ng-container>
        <ng-container *ngIf="country?.invalid && country?.touched">
            <small *ngIf="country?.errors?.['minlength']" class="text-danger">O país deve ser representado por, no
                mínimo, duas letras!</small>
        </ng-container>
        <div class="col text-center">
            <button id="btnSignUp" class="btn btn-primary" [disabled]="signUpForm.invalid">Registar</button>
        </div>
    </form>

    <!-- For debugging -->
    <!-- <pre>{{ signUpForm.value | json }}</pre>
    <pre>Status: {{ signUpForm.status }}</pre>
    <pre>Valid: {{ signUpForm.valid }}</pre>
    <pre>Invalid: {{ signUpForm.invalid }}</pre> -->

</section> 
<app-signupinfodialog *ngIf="isRegistered"></app-signupinfodialog>
